.container {
    margin-top: 20px;
    margin-bottom: 100px;
}
.container>div{
    width: 100%;
    text-align: left;
    padding: var(--padding);
}
.container>div.icon {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}
.container>div.icon img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container>div.line {
    width: auto;
    display: inline-block;
    border: 1px solid lightgray;
    text-align: center;
    align-content: center;
    padding:10px;
    border-radius: var(--radius);
}

.container>div>div{
    border-radius: var(--radius);
    padding:10px;
    border: 1px solid lightgray;
}
.container>div>p{margin-bottom: 10px;}

.button {
    border: var(--orange);
}

.btn {
    color: var(--light-gray);
}

.button-info {
    text-align: center;
    padding: 10px var(--padding);
    background: var(--gray);
    border: var(--gray);
    display: inline-block;
    border-radius: var(--radius);
    color: var(--white);
    cursor: pointer;
}

.button-info:hover {
    background: var(--light-gray);
}

.button-etc {
    text-align: center;
    padding: 10px var(--padding);
    background: var(--white);
    border: var(--extra-light-gray);
    display: inline-block;
    border-radius: var(--radius);
    color: var(--light-gray);
    cursor: pointer;
    border: 1px solid var(--light-gray);
}
.button-etc:hover{background: var(--light-gray);color: var(--white);}

.container>div.upbtn, .container>div.downbtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
}
.upbtn>button, .downbtn>button{flex:1;font-size: var(--font-content);}
.button-info{margin-left: var(--padding);}
.downbtn>button:first-child{margin-right: var(--padding);}