.container {
    margin-bottom: 80px;
}

.review {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: var(--padding);
}

.review-count {
    font-size: var(--font-big);
}

.review-category {
    display: flex;
    justify-content: flex-end;
    margin: var(--padding) 0 ;
}
.review-category>button{
    padding: 10px;
}

.line {
    border: 1px solid lightgrey;
    width: 100%;
    text-align: center;
    margin: var(--padding) 0;
    padding: 10px;
    border-radius: var(--radius);
    position: relative;
}

.new-star {
    width: 100%;
}

.left {
    text-align: left;
    margin: 10px;
}

.star {
    display: flex;
}

.star .on {
    color: var(--orange);
}

.review-all .on {
    color: var(--orange);
}

.margin {
    margin-left: 10px;
}
.review-content{width: 100%;padding:var(--padding);}
.review-content a{
    position: absolute;
    top:10px;
    right: 15px;
}