<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="bodyHeader(args)">
    <div>
        <a class="icon home-icon" th:if="${args.showIcon}" href='/menu/main'>
            <i class="fas fa-home"></i>
        </a>
    </div>
    <p th:text="${args.name}" class="center-text"></p>
    <div>
        <a class="icon cart-icon" th:if="${args.showBasket}" href='/menu/cart'>
            <i class="fas fa-shopping-cart"></i>
            <!-- 주문 개수 뱃지 -->
            <span class="cart-badge" th:if="${session.orders != null and #lists.size(session.orders) > 0}" th:text="${#lists.size(session.orders)}"></span>
        </a>
    </div>
</header>
</body>
</html>
