<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer th:fragment="footer(menu)">
    <a href="" th:class="${menu eq 'home'} ? 'on'">홈</a>
    <a href="" th:class="${menu eq 'order'} ? 'on'">주문관리</a>
    <a href="" th:class="${menu eq 'menu'} ? 'on'">메뉴관리</a>
    <a href="" th:class="${menu eq 'review'} ? 'on'">리뷰관리</a>
    <a href="" th:class="${menu eq 'myPage'} ? 'on'">마이페이지</a>
</footer>
</body>
</html>