<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>장바구니</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/user/cart.css" rel="stylesheet" type="text/css">
    <script src="/js/user/cart.js" type="text/javascript" defer></script>
</head>
<body>
<div class="innerBox">
    <header></header>
    <div class="container">
        <form action="/user/order" method="post">
            <div class="restaurant-name">더조은 식당</div>
            <div class="orders">
                <div class="menu">
                    <div class="text">
                        <div class="title">짜파게티</div>
                        <div class="menu-price">가격 : 5,000원</div>
                        <div class="option">옵션 : 안맵게 해주세요(-3000원)</div>
                        <div class="total-price">3000원</div>
                    </div>
                </div>
                <div class="etc">
                    <div class="image">
                        <img src="/images/sample.png" alt="음식 이미지" class="img">
                    </div>
                    <div class="num">
                        <input type="button" class="minus" value="-">
                        <div class="text">2</div>
                        <input type="button"  class="plus" value="+">
                    </div>
                </div>
            </div>
            <div class="orders">
                <div class="menu">
                    <div class="text">
                        <div class="title">짜파게티2</div>
                        <div class="menu-price">가격 : 4,000원</div>
                        <div class="option">옵션 : 맵게 해주세요(3000원)</div>
                        <div class="total-price">10000원</div>
                    </div>
                </div>
                <div class="etc">
                    <div class="image">
                        <img src="/images/sample.png" alt="음식 이미지" class="img">
                    </div>
                    <div class="num">
                        <input type="button" class="minus" value="-">
                        <div class="text">3</div>
                        <input type="button"  class="plus" value="+">
                    </div>
                </div>
            </div>
            <div class="menu-plus">
                +메뉴추가
            </div>
            <div class="request">
                <label for="contents" class="title">요청사항</label>
                <textarea class="contents" id="contents" name="contents" placeholder="내용을 입력하세요" rows="4"></textarea>
                <input type="button" class="submit button" onclick="cartsubmit(form)" value="3000원 주문하기">
            </div>
        </form>
    </div>
    <footer></footer>
</div>
</body>
</html>