<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/user/info.css" rel="stylesheet" type="text/css">
    <script src="/js/user/info.js" type="text/javascript" defer></script>
</head>
<body>
<div class="innerBox">
    <header></header>
    <div class="container">
        <form action="/user/info" method="post" class="info-form">
            <div class="menu-image">
                <img src="/images/sample.png" alt="음식 이미지" class="menu-img">
            </div>
            <div class="info">
                <div class="info-title">짜파게티</div>
                <div class="info-contents">맛있는 짜파게티 김치 미포함</div>
                <div class="info-price">300원</div>
            </div>
            <div class="option">
                <div class="option-title">
                    <div class="option-title-text">매운맛</div>
                    <div class="option-title-select">필수</div>
                </div>
                <div class="option-contents">
                    <div class="option-contents-select">
                        <input type="checkbox" class="option-check">
                        <span class="option-contents-content">맵게 해주세요</span>
                        <span class="option-contents-price">3000원</span>
                    </div>
                    <div class="option-contents-select">
                        <input type="checkbox" class="option-check">
                        <span class="option-contents-content">안맵게 해주세요</span>
                        <span class="option-contents-price">4000원</span>
                    </div>
                </div>
            </div>
            <div class="option">
                <div class="option-title">
                    <div class="option-title-text">토핑</div>
                    <div class="option-title-select">선택</div>
                </div>
                <div class="option-contents">
                    <div class="option-contents-select">
                        <input type="checkbox" class="option-check">
                        <span class="option-contents-content">치즈</span>
                        <span class="option-contents-price">1000원</span>
                    </div>
                    <div class="option-contents-select">
                        <input type="checkbox" class="option-check">
                        <span class="option-contents-content">감자</span>
                        <span class="option-contents-price">1000원</span>
                    </div>
                </div>
            </div>
            <div class="count">
                <div class="count-text">수량</div>
                <div class="count-button">
                    <input type="button" class="minus" value="-">
                    <div class="text">1</div>개
                    <input type="button"  class="plus" value="+">
                </div>
                <input type="button" class="submit button" value="300원 담기" onclick="infosubmit(form)">
            </div>
        </form>
    </div>
    <footer></footer>
</div>
</body>
</html>