<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/user/info.css" rel="stylesheet" type="text/css">
    <script src="/js/user/info.js" type="text/javascript" defer></script>
</head>
<body>
<div class="innerBox">
    <header></header>
    <div class="container">
        <form action="/user/info" method="post" class="info-form">
            <div class="menu-image">
                <img src="/images/sample.png" alt="음식 이미지" class="menu-img">
            </div>
            <div class="info">
                <div class="title">짜파게티</div>
                <div class="contents">맛있는 짜파게티 김치 미포함</div>
                <div class="price">300원</div>
            </div>
            <div class="option">
                <div class="title">
                    <div class="text">매운맛</div>
                    <div class="select">필수</div>
                </div>
                <div class="contents">
                    <label class="select">
                        <input type="radio" name="spiciness" class="check" value="spicy">
                        <label></label>
                        <span class="content">맵게 해주세요</span>
                        <span class="price">+3000원</span>
                    </label>
                    <label class="select">
                        <input type="radio" name="spiciness" class="check" value="not-spicy">
                        <label></label>
                        <span class="content">안맵게 해주세요</span>
                        <span class="price">+4000원</span>
                    </label>
                </div>
            </div>
            <div class="option">
                <div class="title">
                    <div class="text">토핑</div>
                    <div class="select">선택</div>
                </div>
                <div class="contents">
                    <label class="select">
                        <input type="checkbox" class="check">
                        <label></label>
                        <span class="content">치즈</span>
                        <span class="price">1000원</span>
                    </label>
                    <label class="select">
                        <input type="checkbox" class="check">
                        <label></label>
                        <span class="content">감자</span>
                        <span class="price">1000원</span>
                    </label>
                </div>
            </div>
            <div class="count">
                <div class="inner">
                    <div class="text">수량</div>
                    <div class="btn">
                        <input type="button" class="minus" value="-">
                        <div class="text">1</div>개
                        <input type="button"  class="plus" value="+">
                    </div>
                </div>
                <input type="button" class="submit button" value="300원 담기" onclick="infosubmit(form)">
            </div>
        </form>
    </div>
    <footer></footer>
</div>
</body>
</html>