<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/user/info.css" rel="stylesheet" type="text/css">
    <script src="/js/user/info.js" type="text/javascript" defer></script>
</head>
<body>
<div class="innerBox">
    <header th:replace="~{fragments/bodyHeader :: bodyHeader(${headerArgs})}"></header>
    <div class="container">
        <form action="/menu/info" name="OrderDTO" method="post" class="info-form">
            <input class="menuId" name="menuId" type="hidden" th:value="${menu.id}">
            <div class="menu-image">
                <!-- th:src="@{'/images/' + ${menu.menuImage}}" -->
                <img src="/images/sample.png" alt="음식 이미지" class="menu-img">
            </div>
            <div class="info">
                <div class="title" th:text="${menu.name}"></div>
                <div class="contents" th:text="${menu.info}"></div>
                <div class="price" th:text="${menu.price} + '원'"></div>
            </div>
            <!-- 메뉴 옵션 중 REQUIRED만 표시하는 부분 -->
            <div th:each="menuOption : ${menuOptions}">
                <div class="option required" th:if="${menuOption.menuOptionId == T(kr.ganjuproject.entity.RoleMenuOption).REQUIRED}">
                    <div class="title">
                        <input type="hidden" class="menuOptionId" th:value="${menuOption.id}">
                        <div class="text" th:text="${menuOption.content}"></div>
                        <div class="select optional">필수</div>
                    </div>
                    <!-- 해당 메뉴 옵션 ID에 대한 옵션 값들 반복 -->
                    <div class="contents" th:name="option + ${menuOption.id}" th:each="value : ${menuOptionValues[menuOption.id.toString()]}">
                        <label class="select">
                            <!-- 메뉴 옵션 타입에 따라 input 타입 결정 -->
                            <input type="radio" th:name="${menuOption.id}" class="check" th:value="${value.id}">
                            <label></label>
                            <span class="content" th:text="${value.content}"></span>
                            <span class="price" th:text="${value.price > 0 ? '+' : ''} + ${value.price} + '원'"></span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- 메뉴 옵션 중 OPTIONAL만 표시하는 부분 -->
            <div th:each="menuOption : ${menuOptions}">
                <div class="option" th:if="${menuOption.menuOptionId == T(kr.ganjuproject.entity.RoleMenuOption).OPTIONAL}">
                    <div class="title">
                        <input type="hidden" class="menuOptionId" th:value="${menuOption.id}">
                        <div class="text" th:text="${menuOption.content}"></div>
                        <div class="select">선택</div>
                    </div>
                    <!-- 해당 메뉴 옵션 ID에 대한 옵션 값들 반복 -->
                    <div class="contents" th:each="value : ${menuOptionValues[menuOption.id.toString()]}">
                        <label class="select">
                            <!-- 메뉴 옵션 타입에 따라 input 타입 결정 -->
                            <input type="checkbox" class="check" th:value="${value.id}">
                            <label></label>
                            <span class="content" th:text="${value.content}"></span>
                            <span class="price" th:text="${value.price > 0 ? '+' : ''} + ${value.price} + '원'"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="count">
                <div class="inner">
                    <div class="text">수량</div>
                    <div class="num">
                        <input type="button" class="minus" value="-">
                        <div class="text" id="order-num">1</div>
                        <input type="button" class="plus" value="+">
                    </div>
                </div>
                <input type="button" class="submit button" value="300원 담기" onclick="infosubmit(form)">
            </div>
        </form>
    </div>
</div>
</body>
</html>