<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="~{fragments/header :: header(${session.restaurantName})}"></div>
    <link href="/css/user/main.css" rel="stylesheet" type="text/css">
    <script src="/js/user/main.js" type="text/javascript" defer></script>
    <!--너무 길어져서 비동기 부분 따로 뺌-->
    <script src="/js/user/validate/validateMain.js" type="text/javascript" defer></script>
</head>
<body>
<div class="innerBox">
    <header th:replace="~{fragments/bodyHeader :: bodyHeader(${headerArgs})}"></header>
    <div class="container">
        <div class="restaurant-image">
            <div class="restaurant-image-slider">
                <div th:each="image : ${images}">
                    <img th:src="${image.menuImage}" alt="식당 이미지" class="restaurant-img">
                </div>
            </div>
            <div class="slider-counter">
                <span class="current">1</span>/<span class="total" th:text="${images.size()}"></span>
            </div>
        </div>
        <div class="title">
            <div class="restaurant-name" th:text="${session.restaurantName}">더조은 식당</div>
            <button class="report-button button">
                <i class="fas fa-exclamation-triangle"></i>신고하기
            </button>
        </div>
        <div class="ratings-reviews">
            <div class="ratings">
                <div class="stars">
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                    <span><i class="far fa-star"></i></span>
                </div>  <!-- 5개의 별을 기본으로 설정 -->
                <label th:text="${ staAve }"></label> <!-- 예시 평점 -->
            </div>
            <button class="call-button button">호출하기</button>
        </div>
        <div class="buttons">
            <button class="menu-btn button tab-btn" data-target="menu-content">메뉴</button>
            <button class="board-btn button tab-btn" data-target="board-content">공지사항</button>
            <button class="review-btn button tab-btn" data-target="review-content">리뷰</button>
        </div>
        <div class="content">
            <div class="menu-content tab-content">
                <div class="category-content">
                    <div th:each="category : ${categories}" class="category" th:text="${category.name}" th:data-target="'menu-category-' + ${category.id}"></div>
                </div>
                <div class="menus-container">
                    <div class="menu-category" th:each="category : ${categories}" th:id="'menu-category-' + ${category.id}" th:data-category-id="${category.id}" >
                        <div class="category-name" th:text="${category.name}"></div>
                        <div class="menus" th:each="menu : ${menus}">
                            <div th:if="${menu.categoryId} == ${category.id}" class="menu" th:onclick="'location.href=\'/user/info?id=' + ${menu.id} + '\''">
                                <div class="image" th:if="${menu.menuImage ne null}">
                                    <img th:src="${menu.menuImage}" alt="메뉴 이미지" class="restaurant-image">
                                </div>
                                <div class="text">
                                    <div th:text="${menu.name}" class="menu-name"></div>
                                    <!--th:text="${menu.info}"-->
                                    <div th:text="${menu.info}" class="menu-info">맛있음</div>
                                    <div th:text="${menu.price + '원'}" class="menu-price"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="board-content tab-content"></div>
            <div class="review-content tab-content">
            </div>
            <div class="review-plus">
                <button id="loadMoreReviews" class="load-more button">더 보기</button>
            </div>
        </div>
    </div>
    <!-- Scroll to Top Button -->
    <button class="scroll-to-top" aria-label="Scroll to top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <template  th:replace="~{user/modal/modal :: modal}" ></template>
</div>
</body>
</html>