<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>리뷰작성</title>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/user/review.css" rel="stylesheet" type="text/css">
    <script src="/js/user/review.js" type="text/javascript" defer></script>
</head>
<body>
<div class="innerBox">
    <header></header>
    <div class="container">
        <form action="/user/review" method="post">
            <div class="restaurant-name">더조은 식당</div>
            <div class="star-range">
                <input type="range" name="range" min="0" max="10" step="1" value="1">
                <div class="star-white star">★★★★★</div>
                <div class="star-black star">★★★★★</div>
            </div>
            <div class="nickname">
                <label class="title">닉네임</label>
                <input type="text" class="contents" placeholder="닉네임을 입력해 주세요"></input>
            </div>
            <div class="review-contents">
                <label class="title">리뷰 내용</label>
                <textarea class="contents" cols="3" rows="3"></textarea>
            </div>
                <p class="warning">이 페이지를 벗어난 후에는 리뷰 작성이 불가능 합니다.</p>
            <input type="button" class="review-button" onclick="reviewCheck(form)" value="3000원 주문하기">
        </form>
    </div>
    <footer></footer>
</div>

</body>
</html>