<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/header :: header(${session.restaurantName})}"></div>
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/user/review.css" rel="stylesheet" type="text/css">
    <script src="/js/user/review.js" type="text/javascript" defer></script>
</head>
<body>
<div class="innerBox">
    <header th:replace="~{fragments/bodyHeader :: bodyHeader(${headerArgs})}"></header>
    <div class="container">
        <form id="reviewForm" action="/user/review" method="post">
            <input type="hidden" name="orderId" class="orderId" th:value="${orderId}">
            <div class="restaurant-name" th:text="${session.restaurantName}"></div>
            <div class="stars">
                <div class="star-span">
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <span><i class="fas fa-star"></i></span>
                    <input type="hidden" name="star" id="star" class="star" value="1">
                </div>
            </div>
            <div class="nickname">
                <label class="title">닉네임</label>
                <input type="text" class="name" name="name" placeholder="닉네임을 입력해 주세요">
                <p id="nameError" style="color: red; display: none;">이름이 없습니다.</p>
            </div>
            <div class="review">
                <label class="title">리뷰 내용</label>
                <textarea class="content" name="content" cols="3" rows="5"></textarea>
                <p id="contentError" style="color: red; display: none;">리뷰 내용이 없습니다.</p>
            </div>
            <div class="buttons">
                <input type="button" class="submit button" value="리뷰 작성">
            </div>
        </form>
    </div>
</div>

</body>
</html>