.tab-btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tab-btn>div{
    text-align: center;
    width: 50%;
    padding:var(--padding) 0;
    font-size: 20px;
    background: var(--extra-light-gray);
    color:var(--gray);
    cursor: pointer;
}
.tab-btn>div.on{background:inherit;color: var(--black);}
.report-list{width: 100%;padding:var(--padding);}
.report-list li{
    width:100%;
    border: 1px solid var(--light-gray);
    border-radius: var(--radius);
    padding:var(--padding);
    position: relative;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.report-list .title{margin-bottom:var(--padding);font-weight: bold;}
.report-list .title span{font-weight:normal;font-size: var(--font-small);color:var(--gray);margin-left:15px;}

.report-list li .button-group{
    display: flex;
    justify-content: space-between;
    margin-top:var(--padding);
}
.report-list li .button-group .button:last-child{background: var(--gray);}
.report-list li .button-group .button:last-child:hover{background: var(--black);}
