<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('어드민 페이지')"></div>
    <link rel="stylesheet" href="/css/admin/restaurantList.css" type="text/css">
    <script src="/js/admin/restaurantList.js" defer type="text/javascript"></script>
</head>
<body>
    <div class="innerBox">
        <header>
            <div></div>
            <p>어드민 페이지</p>
            <div>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </header>
        <div class="container">
            <div class="tab-btn">
                <div class="on" onclick="location.href='/admin/restaurantList'">식당 관리</div>
                <div onclick="location.href='/admin/reportList'">신고 내역</div>
                <div onclick="location.href='/admin/askList'">문의 내역</div>
            </div>
            <ul class="resturant-list" >
                <li th:each="manager : ${list}">
                    <div class="title">
                        <div class="title-left">
                            <div class="logo" th:if="${manager.restaurant ne null}"><img th:src="${manager.restaurant.logo}" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="restaurant img"></div>
                            <div class="resturant-name">
                                <p class="name" th:text="${manager.restaurant.name}" th:if="${manager.restaurant ne null}">더조은 식당</p>
                                <p class="name" th:unless="${manager.restaurant ne null}">등록된 식당 없음</p>
                                <p class="login-id" th:text="${manager.loginId}">thejoeun</p>
                            </div>
                        </div>
                        <div class="title-right">
                            <div class="badge waiting" th:if="${manager.restaurant ne null and manager.restaurant.recognize eq 0}">대기중</div>
                            <div class="badge success" th:if="${manager.restaurant ne null and manager.restaurant.recognize eq 1}">승인완료</div>
                            <div class="badge refuse" th:if="${manager.restaurant ne null and manager.restaurant.recognize eq -1}">거절됨</div>
                            <button><i class="fas fa-chevron-down"></i></button>
                        </div>
                    </div>
                    <table class="content">
                        <tr>
                            <td>아이디</td>
                            <td th:text="${manager.loginId}">thejoeun</td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td th:text="${manager.email}">thejoeun@korea.co.kr</td>
                        </tr>
                        <tr>
                            <td>전화번호</td>
                            <td th:text="${manager.phone}">010-1234-1234</td>
                        </tr>
                        <tr th:if="${manager.restaurant ne null}">
                            <td>가게번호</td>
                            <td th:text="${manager.restaurant.phone}">02-1234-1234</td>
                        </tr>
                        <tr th:if="${manager.restaurant ne null}">
                            <td>주소</td>
                            <td th:text="${manager.restaurant.address}">서울시 용산구 어쩌구 저쩌구 엄청나게 긴 주소 쓰기 연습 어쩌구 저쩌구 </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="flex">
                                    <a th:onclick="'recognizeRestaurant(\'' + ${manager.restaurant.id} + '\', this)'" class="recognize" th:if="${manager.restaurant ne null and manager.restaurant.recognize ne 1}">승인하기</a>
                                    <a th:onclick="'deleteUser(\'' + ${manager.id} + '\', this)'" class="refuse" >탈퇴하기</a>
                                </div>
                            </td>
                        </tr>
                    </table >
                </li>
            </ul>
        </div>
    </div>
</body>
</html>