label{margin-bottom:10px;}
.innerBox{justify-content: center;}
.container{height: 80%;justify-content: space-around;}

input[type=button]{font-size: var(--font-middle); margin-top: 50px;}
.join-btn-group{width: 95%;padding: 10px;}
.join-btn-group>p{color:var(--red);}
.btn-group>div{
    cursor: pointer;
    width: 100%;
    border: 1px solid var(--light-gray);
    padding: 10px;
    margin-top:10px;
    border-radius: 5px;
    background: var(--white);
}
.btn-group>div:hover{filter: brightness(0.9);}
.btn-group>div.naver-login{background: #1EC800;color:var(--white);border:none;}
.btn-group>div.kakao-login{background: #FFEB00;border:none;}
.goole-login i{margin-right: 10px;color: #4285F4;}