<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home/home.css">
    <script src="/js/home/home.js"></script>
    <script src="/js/home/login.js"></script>
</head>
<body>
    <div class="innerBox">
        <div class="container">
            <div class="logo"><img src="/images/logo.svg" alt="logo"></div>
            <form action="/login" method="post">
                <div class="login-id">
                    <label for="username">아이디</label>
                    <input type="text" id="username" name="username" placeholder="아이디를 입력해주세요">
                </div>
                <div class="password">
                    <label for="password">비밀번호</label>
                    <input type="password" id="password" name="password" placeholder="비밀번호를 입력해주세요">
                </div>
                <input type="button" class="button" value="로그인" onclick="loginCheck(form)">
            </form>
            <div class="join-btn-group">
                <p>아직 간주 회원이 아니신가요?</p>
                <div class="btn-group">
                    <div onclick="location.href='manager/join'"><span><img></span>간주로 회원가입</div>
                    <div onclick="location.href='/oauth2/authorization/naver'">네이버 로그인</div>
                    <div onclick="location.href='/oauth2/authorization/kakao'">카카오 로그인</div>
                    <div onclick="location.href='/oauth2/authorization/google'">구글 로그인</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>