<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('메뉴추가')"></div>
    <link rel="stylesheet" href="/css/manager/addMenu.css">
    <link rel="stylesheet" href="/css/manager/common.css">
    <script defer src="/js/manager/addMenu.js"></script>
    <script defer src="/js/manager/menuModal.js"></script>
</head>
<body>
<div class="innerBox">
    <header>
        <div>
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <p>메뉴 추가</p>
        <div></div>
    </header>
    <div class="container">
        <form action="/menu/addMenu" method="post" enctype="multipart/form-data">
            <div class="option">
                <label for="category">카테고리 선택</label>
                <select name="categoryId" id="category">
                    <option value="" selected disabled>선택 안함</option>
                    <option th:each="category:${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>
            <div class="imgbox">
                <label for="img" class="flex">이미지
                    <img src="https://ganju-test.s3.ap-northeast-2.amazonaws.com/noImage.png" class="img" alt="menu-image" id="menuImage">
                </label>
                <input type="file" name="img" id="img" onchange="readURL(this)">
            </div>
            <div class="menu-name">
                <label for="menuName">메뉴명</label>
                <input type="text" name="name" id="menuName" class="textarea">
            </div>
            <div class="price">
                <label for="price">가격</label>
                <input type="number" name="price" id="price" class="visible">
                <div class="placeholder" id="placeholder1">원</div>
            </div>
            <div class="menu-info">
                <label for="menuInfo">정보</label>
                <input type="text" name="info" id="menuInfo" class="bigArea">
            </div>
            <p>옵션</p>
            <div class="option-l" id="menuForm">
            </div>
            <p class="add-option"><i class="fas fa-plus"></i>옵션 추가</p>
            <div class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h3>옵션 추가</h3>
                    <div class="margin">
                        <label for="option_type">옵션 타입:</label>
                        <select id="option_type">
                            <option value="REQUIRED">필수</option>
                            <option value="OPTIONAL">선택</option>
                        </select>
                    </div>
                    <div class="margin">
                        <label for="option_name">옵션 이름:</label>
                        <input type="text" id="option_name">
                    </div>
                    <h4 class="margin">세부 옵션</h4>
                    <div id="option_values_container">
                        <!-- 세부 옵션 입력 필드가 동적으로 추가됩니다 -->
                    </div>
                    <button type="button" id="add_option_value" class="button">세부 옵션 추가</button>
                    <button type="button" id="submit_option" class="button">옵션 추가 완료</button>
                </div>
            </div>
            <input type="button" class="button border select-option" value="메뉴 등록" onclick="menuCheck(form)">
        </form>
    </div>
    <footer th:replace="fragments/footer :: footer(menu)"></footer>
</div>
</body>

</html>