<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('메뉴추가')"></div>
    <link rel="stylesheet" href="/css/manager/addMenu.css">
    <link rel="stylesheet" href="/css/manager/common.css">
    <script defer src="/js/manager/addMenu.js"></script>
</head>
<body>
<div class="innerBox">
    <header>
        <div>
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <p>메뉴 추가</p>
        <div></div>
    </header>
    <div class="container">
        <form action="/menu/addMenu" method="post" enctype="multipart/form-data">
            <div class="option">
                <label for="category">카테고리 선택</label>
                <select name="categoryId" id="category">
                    <option value="" selected disabled>선택 안함</option>
                    <option th:each="category:${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}">
                    </option>
                </select>
            </div>
            <div class="imgbox">
                <label for="img" class="flex">이미지
                    <img src="#" class="img" alt="menu-image" id="menuImage">
                </label>
                <input type="file" name="img" id="img" onchange="readURL(this)">
            </div>
            <div class="menu-name">
                <label for="menuName">메뉴명</label>
                <input type="text" name="name" id="menuName" class="textarea">
            </div>
            <div class="price">
                <label for="price">가격</label>
                <input name="price" id="price" class="visible">
                <div class="placeholder" id="placeholder1">원</div>
            </div>
            <div class="menu-info">
                <label for="menuInfo">정보</label>
                <input name="info" id="menuInfo" class="bigArea">
            </div>
            <p>필수 옵션</p>
            <div class="option-l">
                <div class="title">
                    <p class="small">매운맛</p>
                </div>
                <div class="contents">
                    <label class="select">
                        <input type="radio" name="spiciness" class="check" value="less_spicy">
                        <span class="spicy">안맵게 해주세요</span>
                        <span>-3000원</span>
                    </label>
                    <label class="select">
                        <input type="radio" name="spiciness" class="check" value="more_spicy">
                        <span class="spicy">맵게 해주세요</span>
                        <span>+3000원</span>
                    </label>
                </div>
                <p class="add-option-sub"><i class="fas fa-plus"></i>세부 옵션 추가</p>
                <div class="underline-dark"></div>
                <p class="add-option"><i class="fas fa-plus"></i>옵션 추가</p>
            </div>
            <div class="modal">
                <div class="modal-content">
                    <div class="option-subname">
                        <p>선택 옵션
                            <span class="close">&times;</span>
                        </p>
                    </div>
                    <div class="choice-option">
                        <input name="option_name" id="option_name" placeholder="옵션 이름">
                        <button class="button border">옵션 추가</button>
                    </div>
                    <input name="option-subname" id="option-subname" placeholder="세부 옵션 이름"
                              class="option-subname">
                    <div class="modal-price">
                        <label for="price2">가격</label>
                        <input name="price2" id="price2" class="visible">
                        <div class="placeholder" id="placeholder2">원</div>
                    </div>
                    <div class="div-add-option-sub">
                        <button class="button border">세부 옵션 추가</button>
                    </div>
                </div>
            </div>
            <input type="button" class="button border select-option" value="메뉴 등록" onclick="menuCheck(form)">
        </form>
    </div>
    <footer th:replace="fragments/footer :: footer(menu)"></footer>
</div>
</body>

</html>