<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('메뉴 수정')"></div>
    <link rel="stylesheet" href="/css/manager/addMenu.css">
    <link rel="stylesheet" href="/css/manager/common.css">
    <script defer src="/js/manager/menuEdit.js"></script>
    <script defer src="/js/manager/menuModal.js"></script>
    <title>Document</title>
</head>
<body>
<div class="innerBox">
    <header>
        <div>
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <p>메뉴 수정</p>
        <div></div>
    </header>
    <div class="container">
        <form action="/menu/updateMenu" method="post" enctype="multipart/form-data">
            <div class="option">
                <input type="hidden" name="id" th:value="${menus.id}">
                <label for="category">카테고리 선택</label>
                <select name="categoryId" id="category">
                    <option value="" selected disabled>선택 안함</option>
                    <option th:each="category:${categories}"
                            th:value="${category.id}"
                            th:text="${category.name}"
                            th:selected="${menus.categoryId eq category.id}">
                    </option>
                </select>
            </div>
            <div class="imgbox">
                    <label for="img" class="flex">이미지
                        <img th:src="${menus.menuImage}" class="img" alt="menu-image" id="menuImage">
                    </label>
                    <input type="file" name="img" id="img" onchange="readURL(this)">
            </div>
            <div class="menu-name">
                <p>메뉴명</p>
                <input type="text" name="name" id="menuName" class="textarea" th:value="${menus.name}">
            </div>
            <div class="price">
                <p>가격</p>
                <input type="text" name="price" class="visible" id="price" th:value="${menus.price}">
                <div class="placeholder" id="placeholder1">원</div>
            </div>
            <div class="menu-info">
                <p>정보</p>
                <input type="text" name="info" class="bigArea" id="menuInfo" th:value="${menus.info}">
            </div>
            <p>옵션</p>
            <div class="option-l" id="menuForm">
                <div th:if="${not #lists.isEmpty(menus.options)}">
                    <div th:each="option, optionStat : ${menus.options}" class="option">
                        <!-- 옵션 이름과 타입 -->
                        <div class="option-header">
                            <input type="text" th:name="|options[${optionStat.index}].name|" th:value="${option.name}" placeholder="옵션 이름"/>
                            <select th:name="|options[${optionStat.index}].type|">
                                <option value="REQUIRED" th:selected="${option.type == 'REQUIRED'}">필수</option>
                                <option value="OPTIONAL" th:selected="${option.type == 'OPTIONAL'}">선택</option>
                            </select>
                            <button type="button" class="remove-option" th:data-option-index="${optionStat.index}">옵션 삭제</button>
                        </div>
                        <!-- 세부 옵션들 -->
                        <div th:each="detail, detailStat : ${option.details}" class="detail">
                            <input type="text" th:name="|options[${optionStat.index}].details[${detailStat.index}].name|" th:value="${detail.name}" placeholder="세부 옵션 이름"/>
                            <input type="number" th:name="|options[${optionStat.index}].details[${detailStat.index}].price|" th:value="${detail.price}" placeholder="가격"/>
                        </div>
                    </div>
                </div>
            </div>
            <p class="add-option"><i class="fas fa-plus"></i>옵션 추가</p>
            <div class="modal" style="display: none;">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h3>옵션 추가</h3>
                    <div>
                        <label for="option_type">옵션 타입:</label>


                        <select id="option_type">
                            <option value="REQUIRED">필수</option>
                            <option value="OPTIONAL">선택</option>
                        </select>
                    </div>
                    <div>
                        <label for="option_name">옵션 이름:</label>
                        <input type="text" id="option_name">
                    </div>
                    <h4>세부 옵션</h4>
                    <div id="option_values_container">
                        <!-- 세부 옵션 입력 필드가 동적으로 추가됩니다 -->
                    </div>
                    <button type="button" id="add_option_value">세부 옵션 추가</button>
                    <button type="button" id="submit_option">옵션 추가 완료</button>
                </div>
            </div>
            <input type="button" id="addMenuButton" class="button border select-option" onclick="menuUpdate(form)" value="메뉴 수정">
        </form>
    </div>
    <footer th:replace="fragments/footer :: footer(menu)"></footer>
</div>
</body>

</html>