<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header('공지사항 수정')"></div>
    <link rel="stylesheet" href="/css/manager/common.css">
    <link rel="stylesheet" href="/css/manager/addNotice.css">
    <script defer src="/js/manager/noticeEdit.js"></script>
    <title>Title</title>
</head>
<body>
<div class="innerBox">
    <header>
        <div>
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <p>공지 사항 수정</p>
        <div></div>
    </header>
    <div class="container">
        <div class="notice-day">
            <div class="notice-menu">
                <p>날짜</p>
                <div class="line">
                    <p th:text="${#temporals.format(boards.regDate, 'yyyy-MM-dd')}"></p>
                </div>
            </div>
        </div>
        <div class="notice-title">
            <div class="notice-menu">
                <p>제목</p>
                <textarea name="title" id="title" class="notice-name" th:text="${boards.title}"></textarea>
            </div>
        </div>
        <div class="notice-contents">
            <div class="notice-menu">
                <p>내용</p>
                <textarea name="contents" id="contents" class="notice-contents" th:text="${boards.content}"></textarea>
            </div>
            <button id="editNoticeButton" class="button add" th:onclick="'boardUpdate(' + ${boards.id} + ')'">수정 하기</button>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer(myPage)"></footer>
</div>
</body>
</html>