<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('식당 정보')"></div>
    <link rel="stylesheet" href="/css/manager/join.css" type="text/css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" type="text/javascript"></script>
    <script src="/js/manager/addressCheck.js" defer type="text/javascript"></script>
    <script src="/js/manager/joinRestaurantCheck.js" defer type="text/javascript"></script>
</head>
<body>
    <div class="innerBox">
        <header>
            <div></div>
            <p>회원가입</p>
            <div>
                <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </header>
        <div class="container">
            <h2>식당 정보를<br>입력해주세요</h2>
            <form action="/restaurant/join" method="post" encType="multipart/form-data">
                <div class="logo-upload">
                    <p>로고 등록<span> *</span></p>
                    <label for="logo" class="logo-img-upload">
                        <img src="https://ganju-test.s3.ap-northeast-2.amazonaws.com/noImage.png" alt="logo-image" id="logoImage">
                    </label>
                    <input type="file" name="logo" id="logo" onchange="readURL(this)">
                </div>
                <div class="resturant-name">
                    <label for="name">식당 이름<span> *</span></label>
                    <input type="text" name="name" id="name" placeholder="식당 이름을 입력해주세요">
                </div>
                <div class="resturant-phone">
                    <label for="phone">전화번호<span> *</span></label>
                    <input type="text" name="phone" id="phone" placeholder="식당 전화번호를 입력해주세요">
                </div>
                <div class="resturant-address">
                    <label for="addressFirst">
                        식당 주소<span> *</span>
                        <input type="button" value="주소 찾기" id="find" onclick="getAddress()">
                    </label>

                    <input type="text" name="addressFirst" id="addressFirst" readonly>
                    <input type="text" name="addressElse" id="addressElse" placeholder="상세 주소 입력">
                </div>
                <div class="restaurant-table">
                    <label for="restaurantTable">식당의 테이블 수<span> *</span></label>
                    <input type="number" name="restaurantTable" id="restaurantTable" placeholder="식당의 테이블 개수를 입력해주세요">
                </div>
                <input type="button" class="button" value="승인요청" onclick="resturantCheck(form)">
            </form>
        </div>
    </div>
</body>
</html>