<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('회원가입')"></div>
    <link rel="stylesheet" href="/css/manager/join.css" type="text/css">
    <script src="/js/manager/joinDataCheck.js" type="text/javascript" defer></script>
</head>
<body>
    <div class="innerBox">
        <header>
            <div>
                <a href="/"><i class="fas fa-home"></i></a>
            </div>
            <p>회원가입</p>
            <div>
                <a href=""></a>
            </div>
        </header>
        <div class="container">
            <form action="" method="post">
                <div class="login-id">
                    <label for="loginId">아이디<span> *</span></label>
                    <input type="text" name="loginId" id="loginId" placeholder="아이디를 입력해주세요" onkeyup="loginIdReCheck()">
                    <input type="button" value="중복체크" class="check-button" onclick="validLoginId(form)">
                </div>
                <div class="password">
                    <label for="password">비밀번호<span> *</span></label>
                    <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요" onkeyup="passwordCompare(form)">
                </div>
                <div class="password-check">
                    <label for="password-check">비밀번호 확인<span> *</span></label>
                    <input type="password" name="passwordCheck" id="password-check" placeholder="비밀번호를 한 번 더 입력해주세요" onkeyup="passwordCompare(form)">
                </div>
                <div class="phone">
                    <label for="phone">휴대전화<span> *</span></label>
                    <input type="phone" name="phone" id="phone" placeholder="휴대전화 번호를 입력해주세요" onkeyup="autoHyphen(form)">
                </div>
                <div class="terms">
                    <input type="checkbox" name="terms" id="terms">
                    <label for="terms">회원가입 및 운영약관 동의 (필수)</label>
                </div>
                <input type="button" class="button" value="회원가입" onclick="joinCheck(form)">
            </form>
        </div>
    </div>
</body>
</html>