<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('마이페이지')"></div>
    <link rel="stylesheet" href="/css/manager/myPage.css">
    <script defer src="/js/manager/myPage.js"></script>
</head>
<body>
<div class="innerBox">
    <header>
        <div>
            <a href="/"><i class="fas fa-home"></i></a>
        </div>
        <p>마이페이지</p>
        <div></div>
    </header>
    <div class="container">
        <div class="icon">
            <img th:src="${user.restaurant.logo}" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="logo-image">
        </div>
        <div class="line">
            <span th:text="${user.restaurant.name}">더조은 식당</span>
        </div>
        <div class="id">
            <p>아이디</p>
            <div class="id_line">
                <p th:text="${user.loginId}"></p>
            </div>
        </div>
        <div class="etc">
            <p>이메일</p>
            <div class="etc_line">
                <p th:text="${user.email}"></p>
            </div>
        </div>
        <div class="etc">
            <p>핸드폰 번호</p>
            <div class="etc_line">
                <p th:text="${user.phone}"></p>
            </div>
        </div>
        <div class="upbtn">
            <button class="button buttons" onclick="location.href = '/manager/myPageEdit'">수정하기</button>
            <button class="button-info buttons" onclick="location.href = '/manager/restaurantInfo'">식당정보</button>
        </div>
        <div class="downbtn">
            <button class="button-etc buttons" onclick="location.href='/logout'">로그아웃</button>
            <button class="button-etc buttons" th:onclick="'deleteUser(\'' + ${user.id} + '\')'">회원탈퇴</button>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer(myPage)"></footer>
</div>
</body>

</html>