<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header('공지사항 관리')"></div>
    <link rel="stylesheet" href="/css/manager/common.css">
    <link rel="stylesheet" href="/css/manager/notice.css">
    <script defer src="/js/manager/notice.js"></script>
</head>
<body>
<div class="innerBox">
    <header>
        <div>
            <a href=""><i class="fas fa-home"></i></a>
        </div>
        <p>공지사항 관리</p>
        <div></div>
    </header>
    <div class="container">
        <div class="content-center">
            <button class="button" onclick="addNotice()">공지사항 추가</button>
        </div>
        <div class="underline"></div>
        <div class="notice_menu" th:each="board:${boards}">
            <th:block th:if="${board.boardCategory == T(kr.ganjuproject.entity.RoleCategory).NOTICE}">
                <div>
                    <a th:text="${board.title}"></a>
                    <a class="extrasmall" th:text="${#temporals.format(board.regDate, 'yyyy-MM-dd')}"></a>
                    <div>
                        <a class="small" th:text="${board.content}"></a>
                    </div>
                </div>
                <div class="navbar">
                    <div class="dropdown">
                        <button class="dropbtn center" th:onclick="'myFunction(' + ${board.id} + ')'">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-content" th:id="'myDropdown' + ${board.id}">
                            <a th:href="'editNotice/' + ${board.id}">
                                <span>수정</span>
                            </a>
                            <a><span class="delete-button" th:data-id="${board.id}">삭제</span></a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="underline"></div>
    </div>
    <footer th:replace="fragments/footer :: footer(myPage)"></footer>
</div>
</body>
</html>