<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('주문관리')"></div>
    <link rel="stylesheet" href="/css/manager/order.css" type="text/css">
    <script src="/js/manager/order.js" defer type="text/javascript"></script>
</head>
<body>
    <div class="innerBox">
        <header>
            <div>
                <a href="/"><i class="fas fa-home"></i></a>
            </div>
            <p>주문관리</p>
            <div></div>
        </header>
        <div class="container">
            <ul class="order-state-summary">
                <li class="call">
                    <p class="state-name">호출</p>
                    <p class="state-content"><span th:text="${callCount}">9</span>건</p>
                </li>
                <li class="wait">
                    <p class="state-name">주문</p>
                    <p class="state-content"><span th:text="${waitCount}">>3</span>건</p>
                </li>
                <li class="okay">
                    <p class="state-name">승인</p>
                    <p class="state-content"><span th:text="${okayCount}">>1</span>건</p>
                </li>
            </ul>
            <button onclick="location.href='/sales'">총 매출 확인하기 ></button>
            <ul class="list-select">
                <li class="on" onclick="filterList('all', this)">전체</li>
                <li onclick="filterList('call', this)">호출</li>
                <li onclick="filterList('wait', this)">대기</li>
                <li onclick="filterList('okay', this)">승인</li>
            </ul>
            <ul class="order-list">
                <li th:each="order : ${list}">
                    <div class="content-summary">
                        <div class="left">
                            <p class="order-title" th:classappend="${order.division.role eq 'call'} ? 'call' : (${order.division.role eq 'wait'} ? 'wait' : 'okay')"
                               th:text="${order.division.role eq 'call'} ? '호출' : (${order.division.role eq 'wait'} ? '주문' : '승인')">호출</p>
                            <p class="order-subtitle" th:if="${order.division.role eq 'call'}" th:text="${order.content}">와주세요</p>
                            <span class="table-name" th:text="${order.restaurantTableNo}+'번 테이블'">1번 테이블</span>
                        </div>
                        <div class="right">
                            <span class="time" th:if="${#temporals.format(order.regDate, 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
                                  th:text="${#temporals.format(order.regDate, 'HH:mm')}">13:00</span>
                            <span class="time" th:unless="${#temporals.format(order.regDate, 'yyyyMMdd') == #temporals.format(#temporals.createNow(), 'yyyyMMdd')}"
                                  th:text="${#temporals.format(order.regDate, 'YYYY-MM-dd / HH:mm')}">2024-03-30</span>
                            <button th:if="${order.division.role ne 'call'}"><i class="fas fa-chevron-down"></i></button>
                        </div>
                    </div>
                    <table class="info" th:if="${order.division.role ne 'call'}">
                        <tr>
                            <th>
                                상품이름
                                <input type="hidden" th:value="${order.id}" class="id">
                            </th>
                            <th>수량</th>
                            <th>금액</th>
                        </tr>
                        <tr th:each="menu : ${order.orderMenus}">
                            <td>
                                <p th:text="${menu.menuName}">짜파게티</p>
                                <ol>
                                    <li th:text="'가격 : '+ ${#numbers.formatInteger(menu.price, 0, 'COMMA')}+'원'"></li>
                                    <li th:each="option : ${menu.orderOptions}" th:text="${option.optionName}+'('+${#numbers.formatInteger(option.price, 0, 'COMMA')}+'원)'"></li>
                                </ol>
                            </td>
                            <td th:text="${menu.quantity}">2</td>
                            <td th:text="${#numbers.formatInteger(menu.getTotalPrice(), 0, 'COMMA')}+'원'">3,000</td>
                        </tr>
                        <tr class="last">
                            <td>총 합계</td>
                            <td th:text="${order.getTotalQuantity()}">25</td>
                            <td th:text="${order.price}+'원'">267,000</td>
                        </tr>
                        <tr class="contents">
                            <td colspan="3">
                                <p class="title">요청 사항</p>
                                <p class="content" th:if="${order.content ne null}" th:text="${order.content}"></p>
                            </td>
                        </tr>
                        <tr class="button-group" th:if="${order.division.role eq 'wait'}">
                            <td colspan="3">
                                <button class="button delete" th:onclick="'deleteOrder(\'' + ${order.id} + '\')'">거부</button>
                                <button class="button recognize" th:onclick="'recognizeOrder(\'' + ${order.id} + '\',this)'">승인</button>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <footer th:replace="fragments/footer :: footer(order)"></footer>
    </div>
</body>
</html>