<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/manager/common.css">
    <link rel="stylesheet" href="/css/manager/review.css">
    <script defer src="/js/manager/review.js"></script>
    <script defer src="/js/fragments/footer.js"></script>
    <title>Document</title>
</head>
<body>
<div class="innerBox">
    <header>
        <div>
            <a href=""><i class="fas fa-home"></i></a>
        </div>
        <p>리뷰 관리</p>
        <div>
            <a href="#"></a>
        </div>
    </header>
    <div class="container">
        <div class="review">
            <div class="review-all">
                <p>평균</p>
                <p class="big" th:text="${starAvg}"></p>
                <i th:each="starNum : ${#numbers.sequence(1, 5)}"
                   th:class="${starAvg >= starNum} ? 'fas fa-star fonticon on' : (${starAvg > starNum - 0.5} ? 'fas fa-star-half-alt fonticon on' : 'far fa-star fonticon on')"></i>
            </div>
            <div class="review-count">
                <p class="big">리뷰 수</p>
                <p class="big" th:text="${reviewCount} + 개"></p>
            </div>
        </div>
        <div class="underline"></div>
        <div class="new-star">
            <div class="review-category">
                <button class="btn small newR on">최신순</button>
                <button class="btn small highR">별점 높은 순</button>
                <button class="btn small rowR">별점 낮은 순</button>
            </div>
        </div>
        <div class="review-content">
            <div class="line" th:each="review:${reviews}">
                <p class="small left" th:text="${review.name}"></p>
                <div class="star margin">
                    <i th:each="starNum : ${#numbers.sequence(1, 5)}"
                       th:class="${review.star >= starNum} ? 'fas fa-star fonticon on' : 'far fa-star fonticon on'"></i>
                    <p class="fonticon margin regDate" th:text="${review.regDate}"></p>
                </div>
                <p class="small left" th:text="${review.content}"></p>
            </div>
        </div>
    </div>
    <footer th:replace="fragments/footer :: footer(review)"></footer>
</div>
</body>

</html>