<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="fragments/header :: header('매출 확인')"></div>
    <link rel="stylesheet" href="/css/manager/sales.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="/js/manager/sales.js" defer ></script>
</head>
<body>
    <div class="innerBox">
        <header>
            <div>
                <a href="/"><i class="fas fa-home"></i></a>
            </div>
            <p>총 매출 확인</p>
            <div>
                <a href="#"></a>
            </div>
        </header>
        <div class="container">
            <ul class="date-select">
                <li class="on">오늘</li>
                <li>일주일</li>
                <li>한달</li>
            </ul>
            <div class="date-choice">
                <p>날짜 선택</p>
                <div class="date-pick">
                    <div id="start-date">
                        <span></span> 
                    </div>
                    ~
                    <div id="end-date">
                        <span></span> 
                    </div>
                </div>
            </div>
            <div class="total-sales">
                <p class="total-count">총 주문<span th:text="${totalCount}+'건'">36건</span></p>
                <p class="total-price">총 매출<span th:text="${#numbers.formatInteger(totalPrice, 0, 'COMMA') + '원'}">121,121,122원</span></p>
            </div>
            <ul class="sales-list">
                <li th:each="order : ${list}">
                    <div class="content-summary">
                        <span class="table-name" th:text="${order.restaurantTableNo}+'번 테이블'">1번 테이블</span>
                        <div class="right">
                            <span class="time" th:text="${#temporals.format(order.regDate, 'YYYY-MM-dd / HH:mm')}">2024-03-30</span>
                            <button><i class="fas fa-chevron-down"></i></button>
                        </div>
                    </div>
                    <table class="info" th:if="${order.division.role ne 'call'}">
                        <tr>
                            <th>상품이름</th>
                            <th>수량</th>
                            <th>금액</th>
                        </tr>
                        <tr th:each="menu : ${order.orderMenus}">
                            <td>
                                <p th:text="${menu.menuName}">짜파게티</p>
                                <ol>
                                    <li th:text="'가격 : '+ ${#numbers.formatInteger(menu.price, 0, 'COMMA')}+'원'"></li>
                                    <li th:each="option : ${menu.orderOptions}" th:text="${option.optionName}+'('+${#numbers.formatInteger(option.price, 0, 'COMMA')}+'원)'"></li>
                                </ol>
                            </td>
                            <td th:text="${menu.quantity}">2</td>
                            <td th:text="${#numbers.formatInteger(menu.getTotalPrice(), 0, 'COMMA')}+'원'">3,000</td>
                        </tr>
                        <tr class="last">
                            <td>총 합계</td>
                            <td th:text="${order.getTotalQuantity()}">25</td>
                            <td th:text="${order.price}+'원'">267,000</td>
                        </tr>
                    </table>
                </li>
            </ul>
        </div>
        <footer th:replace="fragments/footer :: footer(order)"></footer>
    </div>
</body>
</html>