@charset "UTF-8";

.container  {
    margin: 0;
    width: 100%;
    padding: 0;
}

.container>div{
    margin: 0;
    padding: 20px;
}

/* 식당 이름 */
.container .restaurant-name{
    font-size: var(--font-middle);
    font-weight: bold;
    border-top: 1px solid var(--light-gray);
}

/* 주문 리스트 */
.container .orders{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid var(--light-gray);
}
.container .orders .menu{}

.container .orders .menu .text{
}
.container .orders .menu .text .title,
.container .orders .menu .text .total-price{
    font-size: var(--font-content);
    color: var(--black);
    padding-bottom: 10px;
}

.container .orders .menu .text .menu-price,
.container .orders .menu .text .option
{
    font-size: var(--font-small);
    color: var(--gray);
    padding-bottom: 10px;
}

.container .orders .menu .text .total-price{
    padding-top: 10px;
}

.container .orders .etc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container .orders .etc .image{
    margin-left: auto; /* 오른쪽 정렬 */
    width: 90px;
    height: 90px;
    overflow: hidden;
}

.container .orders .etc .image img{
    width: 100%;
    height: auto;
}

.container .orders .etc .num{
    padding: 5px;
    display: flex;
    border: 1px solid var(--light-gray);
}
.container .orders .etc .num .minus,
.container .orders .etc .num .plus{
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--white);
    font-size: var(--font-content); /* 버튼 내 텍스트 크기 */
    cursor: pointer; /* 마우스 커서 변경 */
}
.container .orders .etc .num .text{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-content); /* 필요에 따라 조정 */
}

/* 새로운 매뉴 추가 */
.container .menu-plus{
    width: 100%;
    background-color: var(--extra-light-gray);
    text-align: center;
    color: var(--gray);
}

/* 요청사항 */
.container .request{
    padding-top: 40px;
}
.container .request .title{
    font-weight: bold;
}
.container .request .contents{
    border: 1px solid var(--light-gray);
}
.container .request .submit{
    width: 100%;
}

