@charset "UTF-8";

.container form{
    width: 100%;
    margin: 0;
    padding: 0;
}
/* 메인 사진 */
.container .menu-image{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.container .menu-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
}

/* 음식 설명 */
.container .info{
    padding: var(--padding);
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container .info .info-title{
    font-size: var(--font-big);
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--black);
}

.container .info .info-contents{
    font-size: var(--font-small);
    color: var(--light-gray);
}

.container .info .info-price{
    font-size: var(--font-middle);
    color: var(--black);
    text-align: right;
}

/* 옵션 */
.container .option{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container .option .option-title{
    padding: var(--padding);
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--extra-light-gray);
    color: var(--light-gray);
}

.container .option .option-title .option-title-text{
    padding: 10px;
    color: var(--gray);
}

.container .option .option-title .option-title-select{
    padding: 10px;
    background-color: var(--light-gray);
    color: var(--gray);
}

.container .option .option-title .option-title-select .option-check{
    margin-right: 10px;
}

.container .option .option-title .option-title-select .option-contents-content{
    margin: 10px 0;
}

.container .option .option-contents{
    padding: var(--padding);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .option .option-contents .option-contents-select{
    display: flex;
    margin-bottom: 10px; /* 마지막 요소를 제외하고 각 요소의 하단에 간격 추가 */
}

.container .option .option-contents .option-contents-select:last-child {
    margin-bottom: 0; /* 마지막 요소는 하단 간격 제거 */
}

.container .option .option-contents .option-contents-select .option-contents-content{
    flex: 1;
}

/* count 때문에 넣는 빈공간 */
.container .white-gap{
    width: 100%;
    height: var(--fixedBtn-height);
}

/* 수량 */
.container .count {
    position: fixed;
    left: 50%;
    bottom: 0;
    margin: 0;
    /* 자신의 너비의 반만큼 왼쪽으로 이동하여 정확히 중앙에 위치하도록 조정 */
    transform: translateX(-50%);
    width: var(--innerBox-width);
    background-color: white;
    z-index: 1; /* 필요에 따라 조정 */
    padding: var(--padding);
}
.container .count .count-inner{
    display: flex;
    justify-content: space-between; /* 내부 요소를 양 끝으로 정렬 */
    width: 100%; /* 부모 컨테이너의 전체 너비 사용 */
    padding: 0 20px; /* 좌우 패딩 추가로 내부 요소들 사이 간격 조정 */
    margin-bottom: 10px;
}
.container .count .count-inner .count-text {
    font-size: var(--font-content); /* 필요에 따라 조정 */
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .count .count-inner .count-button {
    padding: 5px;
    display: flex;
    justify-content: right;
    border: 2px solid var(--light-gray);
}

.container .count .count-inner .count-button .minus,
.container .count .count-inner .count-button .plus{
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--white);
    font-size: var(--font-content); /* 버튼 내 텍스트 크기 */
    cursor: pointer; /* 마우스 커서 변경 */
}
.container .count .count-inner .count-button .text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-content); /* 필요에 따라 조정 */
}

/* 버튼 */
.container .count .submit{
    width: calc(100% - 20px); /* 패딩 고려하여 너비 조정 */
}