@charset "UTF-8";

/* 메인 이미지 */
.container .restaurant-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative; /* 상대 위치 지정 */
}

.container .restaurant-image img{
    width: 100%;
    object-fit: cover;
    object-position: center top;
}

/* 슬라이더 카운터 스타일링 */
.slider-counter {
    position: absolute; /* 절대 위치 지정 */
    bottom: 10px; /* 하단에서 10px 위 */
    right: 10px; /* 오른쪽에서 10px 왼쪽 */
    color: #FFF; /* 글자 색상은 백색 */
    background-color: rgba(0, 0, 0, 0.5); /* 배경 색상은 반투명 검정 */
    padding: 5px; /* 내부 여백 */
    border-radius: 5px; /* 경계선 둥글게 */
    font-size: 14px; /* 폰트 크기 */
}
/* 타이틀과 신고버튼 */
.container .title{
    width: 100%;
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 타이틀 */
.container .title .restaurant-name{
    font-size: var(--font-big);
    font-weight: bold;
}

/* 신고 */
.container .title .report-button{
    padding: 0;
    background-color: transparent;
    color: var(--red);
    border: none;
    font-size: var(--font-small);
}

.container .title .report-button .fas{
    margin-right: 5px;
}

/* 별표와 리뷰 버튼*/
.container .ratings-reviews{
    margin-bottom: 10px;
    padding: var(--padding);
    padding-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 별표 부분*/
.container .ratings-reviews .ratings {
    display: flex;
    align-items: center;
}

/* 별표의 별 부분 */
.container .ratings-reviews .ratings .stars{
    position: relative;
    display: inline-block;
    font-size: var(--font-content); /* 별 크기 조정 */
    direction: ltr; /* 별을 왼쪽에서 오른쪽으로 채워나가기 위해 */
}

/* 별표의 숫자 부분 */
.container .ratings-reviews .ratings label{
    margin-left: 10px;
}

/* 호출 버튼 부분*/
.container .ratings-reviews .call-button{
    border: 0;
    border-radius: 0;
    padding: 10px 30px;
}

/* 메뉴 공지사항 리뷰 */
.container .buttons{
    border-bottom: 3px solid var(--orange);
    display: flex;
    width: 100%;
}

/* 메뉴 */
.container .buttons .menu-btn{
    border: 0;
    border-radius: 0;
    flex: 1;
    font-size: var(--font-content);
    padding: var(--padding);
}

/* 공지사항 */
.container .buttons .board-btn{
    background-color: inherit;
    color: var(--gray);
    border: 0;
    border-radius: 0;
    flex: 1;
    font-size: var(--font-content);
    padding: var(--padding);
}

/* 리뷰 */
.container .buttons .review-btn{
    background-color: inherit;
    color: var(--gray);
    border: 0;
    border-radius: 0;
    flex: 1;
    font-size: var(--font-content);
    padding: var(--padding);
}

/* 버튼을 눌렀을때 보여주는 콘텐츠 영역 */
.container .content{
    width: 100%;
    box-sizing: border-box;
}

/* 메뉴 콘텐츠 */
.container .content .menu-content{
    width: 100%;
}

/* 카테고리 슬라이더 부분 */
.container .content .menu-content .category-content{
    display: flex; /* 이 부분을 추가합니다 */
    overflow-x: auto; /* 수평 스크롤을 위해 추가합니다 */
    background-color: var(--white);
    scrollbar-width: none;
    z-index: 1; /* 다른 요소들 위에 오도록 z-index 설정 */
}

.sticky {
    position: fixed;
    top: 0; /* 또는 header 높이에 맞추어 조정 */
    width: var(--innerBox-width);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 선택사항: 고정된 요소에 그림자 효과 추가 */
}

.container .content .menu-content .category-content .category{
    margin: 10px;
    padding: 10px 20px;
    flex: 0 0 auto; /* flex 항목이 자신의 크기를 유지하도록 설정합니다 */
    border-radius: 20px;
    text-align: center;
    background-color: var(--white);
    color:var(--black);
    cursor: pointer; /* 마우스 오버 시 커서 변경을 위해 추가합니다 */
    border: 1px solid var(--gray);
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 */
}
.container .content .menu-content .category-content .category.active{
    background-color: var(--gray);
    color: var(--white);
}
.container .content .menu-content .category-content:last-child{
    margin-right: 0;
}

/* 메뉴 리스트 */
.container .content .menu-content .menus-container {
}
.container .content .menu-content .menus-container .category-name{
    padding:var(--padding);
    background-color: var(--extra-light-gray);
    color: var(--gray);
    font-size: var(--font-middle);
    font-weight: bold;
    border-bottom: 2px solid var(--light-gray);
}
.container .content .menu-content .menus-container .menu{
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--light-gray);
    cursor: pointer;
}
.container .content .menu-content .menus-container .menu .image{
    padding: 10px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.container .content .menu-content .menus-container .menu .image img{
    width: 100%;
    height: 100%;
}
.container .content .menu-content .menus-container .menu .text{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.container .content .menu-content .menus-container .menu .text .menu-name{
    margin-bottom: 10px;
    font-size: var(--font-content);
    font-weight: bold;
    color:var(--black);
}
.container .content .menu-content .menus-container .menu .text .menu-info{
    margin-bottom: 10px;
    flex: 1;
    font-size: var(--font-content);
    color:var(--gray);
}
.container .content .menu-content .menus-container .menu .text .menu-price{
    font-size: var(--font-content);
    color:var(--black);
}

/* 공지사항 콘텐츠 */
.container .content .board-content{
    width: 100%;
    display: none;
}
.container .content .board-content .board-item {
    width: 100%;
    display: flex;
    padding: 20px;
    flex-direction: column;
    border-bottom: 2px solid var(--light-gray);
}
.container .content .board-content .board-item .title {
     padding:0;
}

.container .content .board-content .board-item .text {
    padding:0;
    font-size: var(--font-middle);
    color: var(--black);
    margin-bottom: 20px;
}
.container .content .board-content .board-item .date{
    padding:0;
    font-size: var(--font-small);
    color: var(--light-gray);
}
.container .content .board-content .board-item .content{
    padding:0;
    font-size: var(--font-content);
    color: var(--gray);
}

/* 리뷰 */
.container .content .review-content{
    width: 100%;
    display: none;
    padding: var(--padding);
}
.container .content .review-content .review{
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--light-gray);
    padding: var(--padding);
}
.container .content .review-content .review .title{
    padding: 0;
    font-size: var(--font-content);
    color: var(--black);
    margin-bottom: 5px;
}
.container .content .review-content .review .mid{
    display: flex;
    font-size: var(--font-small);
    color: var(--light-gray);
    flex: 1;
    padding-bottom: 20px;
}
.container .content .review-content .review .mid .star span{
    font-size: var(--font-small);
}
.container .content .review-content .review .mid .star span .fas {
    color: var(--gold); /* 노란색 별 */
}
.container .content .review-content .review .mid .star span .far{
    color: var(--light-gray); /* 회색 별 */
}
.container .content .review-content .review .mid .date{
    margin-left: 10px;
}
.container .content .review-content .review .content{
    font-size: var(--font-content);
    color: var(--black);
}

/* 리뷰의 더보기 버튼 */
.review-plus{
    width: 100%;
    padding: 20px;
}

#loadMoreReviews{
    width: 100%;
}

/* 화면 위로 올라가는 스크롤 버튼*/
.scroll-to-top {
    position: fixed;
    bottom: 70px;
    left: calc(50% + var(--innerBox-width)/2 - 70px);
    background-color: var(--orange);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none; /* 초기에는 숨김 */
    font-size: var(--font-big);
    align-items: center;
    justify-content: center;
}