@charset "UTF-8";

/* 메인 이미지 */
.container .restaurant-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.container .restaurant-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center top;
}

/* 타이틀과 신고버튼 */
.container .title{
    width: 100%;
    padding: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 타이틀 */
.container .title .restaurant-name{
    font-size: var(--font-big);
    font-weight: bold;
}

/* 신고 */
.container .title .report-button{
    padding: 0;
    background-color: transparent;
    color: red;
    border: none;
    font-size: var(--font-small);
}

.container .title .report-button .fa-exclamation-triangle{
    margin-right: 5px;
}

/* 별표와 리뷰 버튼*/
.container .ratings-reviews{
    margin-bottom: 10px;
    padding: var(--padding);
    padding-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 별표 부분*/
.container .ratings-reviews .ratings {
    display: flex;
    align-items: center;
}

/* 별표의 별 부분 */
.container .ratings-reviews .ratings .stars{
    position: relative;
    display: inline-block;
    font-size: 20px; /* 별 크기 조정 */
    direction: rtl; /* 별을 오른쪽에서 왼쪽으로 채워나가기 위해 */
}

.container .ratings-reviews .ratings .stars::after{
    content: "★★★★★";
    color: lightgray; /* 기본 별 색상 설정 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

.star-fill {
    display: block;
    color: gold; /* 금색 별 색상 설정 */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
    direction: ltr; /* 금색 별이 왼쪽에서 시작하도록 설정 */
}

/* 별표의 숫자 부분 */
.container .ratings-reviews .ratings label{
    margin-left: 10px;
}

/* 호출 버튼 부분*/
.container .ratings-reviews .call-button{
    border: 0;
    border-radius: 0;
    padding: 10px 30px;
}


/* 메뉴 공지사항 리뷰 */
.container .buttons{
    border-bottom: 3px solid var(--orange);
    display: flex;
    width: 100%;
}

/* 메뉴 */
.container .buttons .menu-btn{
    border: 0;
    border-radius: 0;
    flex: 1;
    font-size: var(--font-content);
    padding: var(--padding);
}

/* 공지사항 */
.container .buttons .announcement-btn{
    background-color: inherit;
    color: var(--gray);
    border: 0;
    border-radius: 0;
    flex: 1;
    font-size: var(--font-content);
    padding: var(--padding);
}

/* 리뷰 */
.container .buttons .reviews-btn{
    background-color: inherit;
    color: var(--gray);
    border: 0;
    border-radius: 0;
    flex: 1;
    font-size: var(--font-content);
    padding: var(--padding);
}

/* 버튼을 눌렀을때 보여주는 콘텐츠 영역 */
.container .content{
    width: 100%;
}

/* 메뉴 콘텐츠 */
.container .content .menu-content{
    width: 100%;
}

/* 카테고리 슬라이더 부분 */
.container .content .menu-content .category-content{
    width: 100%;
    display: flex; /* 이 부분을 추가합니다 */
    overflow-x: auto; /* 수평 스크롤을 위해 추가합니다 */
    background-color: var(--white);
    scrollbar-width: none;
    z-index: 1; /* 다른 요소들 위에 오도록 z-index 설정 */
}

.sticky {
    position: fixed;
    top: 0; /* 또는 header 높이에 맞추어 조정 */
    width: 100%;
    z-index: 999;
    background-color: #fff; /* 배경색은 선택사항 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* 선택사항: 고정된 요소에 그림자 효과 추가 */
}

.container .content .menu-content .category-content .category{
    margin: 10px;
    padding: 10px 20px;
    flex: 0 0 auto; /* flex 항목이 자신의 크기를 유지하도록 설정합니다 */
    border-radius: 20px;
    text-align: center;
    background-color: var(--white);
    color:var(--black);
    cursor: pointer; /* 마우스 오버 시 커서 변경을 위해 추가합니다 */
    border: 1px solid var(--gray);
    transition: background-color 0.3s, color 0.3s; /* 부드러운 색상 전환 */
}

.container .content .menu-content .category-content .category.active{
    background-color: var(--gray);
    color: var(--white);
}

.container .content .menu-content .category-content:last-child{
    margin-right: 0;
}

/* 메뉴 리스트 */
.container .content .menu-content .menus-container {
}
.container .content .menu-content .menus-container .category-name{
    padding:var(--padding);
    background-color: var(--extra-light-gray);
    color: var(--gray);
    font-size: var(--font-middle);
    font-weight: bold;
    border-bottom: 2px solid var(--light-gray);
}
.container .content .menu-content .menus-container .menu{
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--light-gray);
}
.container .content .menu-content .menus-container .menu .image{
    padding: 10px;
    width: 120px;
    height: 120px;
    overflow: hidden;
}
.container .content .menu-content .menus-container .menu .image img{
    width: 100%;
    height: 100%;
}
.container .content .menu-content .menus-container .menu .text{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.container .content .menu-content .menus-container .menu .text .menu-name{
    margin-bottom: 10px;
    font-size: var(--font-content);
    font-weight: bold;
    color:var(--black);
}

.container .content .menu-content .menus-container .menu .text .menu-info{
    margin-bottom: 10px;
    flex: 1;
    font-size: var(--font-content);
    color:var(--gray);
}

.container .content .menu-content .menus-container .menu .text .menu-price{
    font-size: var(--font-content);
    color:var(--black);
}

/* 공지사항 콘텐츠 */
.container .content .announcement-content{
    width: 100%;
    display: none;
}

.container .content .announcement-content .announcement {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 2px solid var(--light-gray);
}

.container .content .announcement-content .announcement .title {
    padding:0;
    font-size: var(--font-middle);
    color: var(--black);
    margin-bottom: 20px;
}
.container .content .announcement-content .announcement .date{
    padding:0;
    font-size: var(--font-small);
    color: var(--light-gray);
}
.container .content .announcement-content .announcement .content{
    padding:0;
    font-size: var(--font-content);
    color: var(--gray);
}

/* 리뷰 */
.container .content .review-content{
    width: 100%;
    display: none;
    padding: var(--padding);
}

.container .content .review-content .review{
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--light-gray);
    padding: var(--padding);
}
.container .content .review-content .review .title{
    padding: 0;
    font-size: var(--font-content);
    color: var(--black);
}
.container .content .review-content .review .mid{
    display: flex;
    font-size: var(--font-small);
    color: var(--light-gray);
    flex: 1;
    padding-bottom: 20px;
}

.container .content .review-content .review .mid .star{
    font-size: var(--font-small); /* 별의 크기 조절 */
    color: #ccc; /* 기본 별 색상 (회색) */
    position: relative; /* 상대적 위치 설정 */
    margin-right: 20px;
}

.container .content .review-content .review .mid .star span.filled {
    color: gold; /* 노란색 별 */
}

.container .content .review-content .review .mid .star span.empty {
    color: #ccc; /* 회색 별 */
}

.container .content .review-content .review .mid .date{}
.container .content .review-content .review .content{
    font-size: var(--font-content);
    color: var(--black);
}

/* 모달 창 스타일 */
.modal {
    display: none; /* 초기에는 숨김 */
    position: absolute; /* 화면 중앙에 위치 */
    z-index: 1; /* 내용 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 */
    background-color: rgb(0,0,0); /* 검은색 배경 */
    background-color: rgba(0,0,0,0.4); /* 어두운 투명도 */
}

/* 모달 내용 스타일 */
.modal-content {
    background-color: #ffffff;
    margin: 10% auto; /* 페이지 중앙에 위치 조정 */
    padding: 40px; /* 패딩 증가 */
    border-radius: 8px; /* 모서리 둥글게 처리 */
    width: 400px; /* 너비 조정 */
    max-width: 90%; /* 최대 너비 설정 */
}

.modal-title {
    font-size: var(--font-middle); /* 글씨 크기 조정 */
    color: var(--black); /* 글씨 색상 변경 */
    margin-bottom: 20px; /* 하단 여백 추가 */
}

.modal-warning {
    color: var(--red); /* 경고 문구 색상 변경 */
    font-size: 16px; /* 글씨 크기 조정 */
    margin-bottom: 20px; /* 하단 여백 추가 */
}

.modal-label {
    display: block; /* 라벨을 블록 요소로 변경 */
    margin-bottom: 10px; /* 여백 추가 */
    font-weight: bold; /* 글씨 두껍게 */
    color: var(--black); /* 글씨 색상 변경 */
}

.modal-input {
    width: 100%;
    height: 100px;
    border: 1px solid var(--light-gray);
    border-radius: 4px; /* 모서리 둥글게 처리 */
    padding: 10px; /* 내부 패딩 추가 */
    margin-bottom: 20px; /* 하단 여백 추가 */
}

.modal-submit {
    width: 100%;
    font-size: var(--font-content);
}

/* 호출하기 모달 */
#callForm {
    margin: 0;
    padding: 0;
    margin-bottom: 20px; /* 폼과 버튼 사이 간격 */
    display: flex;
    flex-direction: column;
}

#callForm>label {
    display: flex; /* 라벨 블록 처리 */
    align-items: center;
    margin-bottom: 10px; /* 라벨 간 간격 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
}

/* 옵션 사용자 버튼 */
.check{
    display: none;
}

/* 라벨의 가상 요소를 이용해 라디오 버튼 스타일링 */
#callForm .check[type="radio"] + label::before {
    content: '\f111'; /* Font Awesome의 circle 아이콘 */
    font-family: 'Font Awesome 5 Free';
    font-weight: 500;
    color: var(--light-gray);
    font-size: var(--font-middle);
    margin-right: var(--padding);
}

/* 체크된 라디오 버튼의 스타일 */
#callForm .check[type="radio"]:checked + label::before {
    content: '\f058'; /* Font Awesome의 check-circle 아이콘 */
    color: var(--orange);
}