@charset "UTF-8";

.container form{
    margin: 0;
    padding: 0;
}

form{
    width: 100%;
}

form>div{
    margin: 0;
    padding: 20px;
}

/* 식당 이름 */
.container form .restaurant-name{
    width: 100%;
    font-size: var(--font-middle);
    font-weight: bold;
    text-align: left;
}

/* 별 */
.container form .stars{
    width: 100%;
    padding: 0 20px;
}

.container form .stars .star-span{
    font-size: var(--font-big);
    color: var(--light-gray);
    cursor: default;
}

.container form .stars .star-span span{
    margin: -2px;
    cursor: pointer;
}

/* 닉네임 */
.container form .nickname{
    width: 100%;
}

.container form .nickname .title{
    margin-bottom: 10px;
}

.container form .nickname .contents{
    border: 1px solid var(--light-gray);
}

/* 리뷰 내용 */
.container form .review{
    width: 100%;
}

.container form .review .title{
    margin-bottom: 10px;
}

.container form .review .contents{
    margin: 0;
    border: 1px solid var(--light-gray);
}

/* 버튼 */
.container form .buttons{
    padding-top: 0;
}
.container form .buttons .submit{
    font-size: var(--font-middle);
}